<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Projet Fil Rouge</display-name>
   <!--  <servlet>
  	<description>
  	</description>
  	<display-name>LogoutServlet</display-name>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>org.eclipse.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
<servlet>
  	<description>
  	</description>
  	<display-name>ShowCoursServlet</display-name>
  	<servlet-name>ShowCoursServlet</servlet-name>
  	<servlet-class>org.eclipse.controller.ShowCoursServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CalendarServlet</display-name>
  	<servlet-name>CalendarServlet</servlet-name>
  	<servlet-class>org.eclipse.controller.CalendarServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegisterServlet</display-name>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>org.eclipse.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShowMatieresServlet</display-name>
  	<servlet-name>ShowMatieresServlet</servlet-name>
  	<servlet-class>org.eclipse.controller.ShowMatieresServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddCommentServlet</display-name>
  	<servlet-name>AddCommentServlet</servlet-name>
  	<servlet-class>org.eclipse.controller.AddCommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShowQCMServlet</display-name>
  	<servlet-name>ShowQCMServlet</servlet-name>
  	<servlet-class>org.eclipse.controller.ShowQCMServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddQcmServlet</display-name>
  	<servlet-name>AddQcmServlet</servlet-name>
  	<servlet-class>org.eclipse.controller.AddQcmServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>showGroupesServlet</display-name>
  	<servlet-name>showGroupesServlet</servlet-name>
  	<servlet-class>org.eclipse.controller.showGroupesServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetListMatieresServlet</display-name>
  	<servlet-name>GetListMatieresServlet</servlet-name>
  	<servlet-class>org.eclipse.controller.GetListMatieresServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginServlet</display-name>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>org.eclipse.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CheckDoublonEmail</display-name>
  	<servlet-name>CheckDoublonEmail</servlet-name>
  	<servlet-class>org.eclipse.controller.CheckDoublonEmail</servlet-class>
  </servlet> 	
  <servlet-mapping>
  	<servlet-name>ShowCoursServlet</servlet-name>
  	<url-pattern>/ShowCoursServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CalendarServlet</servlet-name>
  	<url-pattern>/CalendarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowMatieresServlet</servlet-name>
  	<url-pattern>/ShowMatieresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCommentServlet</servlet-name>
  	<url-pattern>/AddCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowQCMServlet</servlet-name>
  	<url-pattern>/ShowQCMServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddQcmServlet</servlet-name>
  	<url-pattern>/AddQcmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>showGroupesServlet</servlet-name>
  	<url-pattern>/showGroupesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetListMatieresServlet</servlet-name>
  	<url-pattern>/GetListMatieresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckDoublonEmail</servlet-name>
  	<url-pattern>/CheckDoublonEmail</url-pattern>
  </servlet-mapping> -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern> *.jsp </url-pattern>
      <include-prelude>/WEB-INF/Template/jstlLib.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>
